th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid white;

}
.topbar{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logo{ 
    background-image: url("./images/Logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 30%;
    height: 100px;
}
.heading{
    width: 70%;
    text-align: left;
    padding-left: 400px;
    font-style: initial;
}
body{
    background-image: url("./images/LW\ BG.jpeg");
    color: white;
}
table{
    border: 2px solid white;
    width: 93% ;
    height: auto;
    padding-top: 4px;
}
thead
{
    font-size:large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(6, 67, 6);

}
td{
    font-family: cursive;
    font-size: medium;
}
table.center {
    margin-left: auto; 
    margin-right: auto;
}
th,td{
    text-align: center;
    padding-bottom: 30px;
}
a{
    text-decoration: none;
    color: white;
}
    
.logout-btn{
    text-align: right;
    padding-right: 150px;
    padding-top: 25px;
}

.submit-btn {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #4285f4; /* Blue background */
    color: #fff; /* White text color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #1a73e8; /* Darker blue background on hover */
  }