<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <div>
        <h1>Admin Page</h1>
    <div class="form">
        <form action="/admin/users" method="GET">
            <button class="submit-btn" type="submit">User Details</button>
        </form>
        <form action="/dashboard" method="GET">
            <button class="submit-btn" type="submit">Go to Dashboard</button>
        </form>
    </div>
    </div>
</body>
</html>
